.working-wrap {
	background-color: #fff;
	padding: 40px 70px;
	border-radius: 100px;
	margin-bottom: -65px;
	border: 1px solid #ebebeb;
}
.single-working {
	position: relative;
	overflow: hidden;
}
.single-working::after {
	position: absolute;
	content: "\eb55";
	top: 50%;
	right: 20px;
	font-family: "Icofont";
	font-size: 30px;
	transform: translateY(-50%);
	color: #585858;
}
.working-wrap .col-md-4:last-child .single-working::after{
    display: none;
}
.working-icon {
	flex: 0 0 45px;
	margin-right: 30px;
}
.working-title > h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
    margin: 0;
}